<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-23 col-md-4">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>