<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-23 col-md-4">
                    <h1>Welcome</h1>
                    <router-link tag="md-button" v-if="!this.$store.state.token" :to="{name:'login-page'}" class="md-accent">Login</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>