<template>
  <div>
        <md-table v-model="products" @md-selected="onSelect" md-sort="name" md-sort-order="asc">
        <md-table-toolbar>
            <h1 class="md-title">Products</h1>
            <router-link tag="md-button" :to="{name:'create-product'}">Create New </router-link>
        </md-table-toolbar>

        <md-table-toolbar slot="md-table-alternate-header" slot-scope="{ count }">
            <div class="md-toolbar-section-start">{{ getAlternateLabel(count) }}</div>
            <div class="md-toolbar-section-end">
            <md-button class="md-icon-button">
                <md-icon>delete</md-icon>
            </md-button>
            </div>
        </md-table-toolbar>

        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select>
            <md-table-cell md-label="ID" md-sort-by="id">{{ item.id }}</md-table-cell>
            <md-table-cell md-label="Name" md-sort-by="name"><router-link :to="{name:'product',params: { id: item.id }}">{{ item.name }}</router-link></md-table-cell>
            <md-table-cell md-label="Amount" md-sort-by="amount">{{ item.amount }}</md-table-cell>
            <md-table-cell md-label="Created Date" md-sort-by="created_at">{{ item.created_at }}</md-table-cell>
        </md-table-row>
        </md-table>
  </div>
</template>

<script>
  export default {
    name: 'Products',
    data: () => ({
      selected: [],
      productsloader:false,
      products: [
        {
        amount:"",
        cgst:"",
        created_at:"",
        id:"",
        igst:"",
        items:"",
        name:"",
        sgst:"",
        taxable:"",
        updated_at:"",
        },
      ]
    }),
    created() {
        this.Products();
    },
    methods: {
      onSelect (items) {
        this.selected = items
      },
        Products(){
            this.productsloader = true;
            this.$store.dispatch('Products')
            .then(res=>{
                this.products = res.data.data;
            })
            .catch(error=>{

            })
            .then(res=>{
                this.productsloader = false;
            })
        },
      getAlternateLabel (count) {
        let plural = ''

        if (count > 1) {
          plural = 's'
        }

        return `${count} product${plural} selected`
      }
    }
  }
</script>