<template>
  <div>
    <div class="md-layout">
        <div class="md-layout-item"></div>
        <div class="md-layout-item">
            <md-card>
                <md-progress-bar md-mode="query" v-if="isFormLoading"></md-progress-bar>   
                <form novalidate class="" @submit.prevent="Login">
                <md-card-content>
                        <md-field>
                            <label>Email ID</label>
                            <md-input v-model="email" type="email" required></md-input>
                        </md-field>
                        <md-field>
                            <label>Password</label>
                            <md-input v-model="password" type="password" required></md-input>
                        </md-field>
                </md-card-content>
                <md-card-actions>
                    <md-button type="submit" :disabled="!isFormActive" class="md-dense md-primary">Action</md-button>
                </md-card-actions>
            </form>
            </md-card>


        </div>
        <div class="md-layout-item"></div>
    </div>

  </div>
</template>

<style lang="scss" scoped>
  .md-card {
    width: 320px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }
</style>

<script>
export default {
  name: 'Login',
  data() {
      return {
          email:"",
          password:"",
          isFormActive:true,
          isFormLoading:false,
          redirectroute:"/"
      }
  },
  mounted() {
      if(this.$router.currentRoute.query.redirect){
          this.redirectroute=this.$router.currentRoute.query.redirect;
      }
  },
  methods:{
      Login(){
        this.isFormActive = false;
        this.isFormLoading = true;
        this.$store.dispatch('Login', {
            username: this.email,
            password: this.password
            }).then(response=>{
                new Noty({text: "Welcome Back.."}).show();
                window.location.href =this.redirectroute
            }).catch(error=>{
                for (var key in error.response.data.errors) {
                    new Noty({type: 'error',text: error.response.data.errors[key][0]}).show();
                }
            }).then(res=>{
                this.isFormActive = true;
                this.isFormLoading = false;
            })
      }
  }
}
</script>