<template>
    <div>
    <h1>Finds</h1>
    <div v-for="(find, index) in finds" :key="index">
        <md-field>
          <label for="movie">Movie</label>
          <md-select v-model="find.value" name="movie" id="movie">
            <md-option value="fight-club">Fight Club</md-option>
          </md-select>
        </md-field>
        <md-button @click="deleteFind(index)">delete</md-button>
    </div>
    
    <md-button @click="addFind">
        Add Product
    </md-button>
    
    <pre>{{ this.data }}</pre>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                data:"",
                finds: [] 
            }
        },
        methods: {
            addFind: function () {
                this.finds.push({ value: 'def' });
            },
            deleteFind: function (index) {
            // console.log(index);
            // console.log(this.finds);
            this.finds.splice(index, 1);
            }
        }
    }
</script>

<style>

</style>
