<template>
  <div>
        <md-table v-model="orders" @md-selected="onSelect" md-sort="id" md-sort-order="asc">
        <md-table-toolbar>
            <h1 class="md-title">Orders</h1>
            <router-link tag="md-button" :to="{name:'create-orders'}">Create New </router-link>
        </md-table-toolbar>
        <md-table-toolbar slot="md-table-alternate-header" slot-scope="{ count }">
            <div class="md-toolbar-section-start">{{ getAlternateLabel(count) }}</div>
            <div class="md-toolbar-section-end">
            <md-button class="md-icon-button">
                <md-icon>delete</md-icon>
            </md-button>
            </div>
        </md-table-toolbar>

        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select>
            <md-table-cell md-label="ID" md-sort-by="id">{{ item.id }}</md-table-cell>
            <md-table-cell md-label="Client" md-sort-by="client">
                <router-link :to="{name:'product',params: { id: item.id }}">{{ item.name }}</router-link>
            </md-table-cell>
            <md-table-cell md-label="Date" md-sort-by="created_at">{{ item.created_at }}</md-table-cell>
            <md-table-cell md-label="Invoice" md-sort-by="invoice">{{ item.invoice }}</md-table-cell>
        </md-table-row>
        </md-table>
  </div>
</template>

<script>
  export default {
    name: 'Orders',
    data() {
        return {
        selected: [],
        loader:false,
        orders: [
            {
                id:"",
                products:{},
                notes:"",
                status:"",
                client:"",
                invoice:"",
            },
        ]
        }
    },
    created() {
        this.Orders()
    },
    methods: {
      onSelect (items) {
        this.selected = items
      },
      getAlternateLabel (count) {
        let plural = ''

        if (count > 1) {
          plural = 's'
        }

        return `${count} order${plural} selected`
      },
      Orders(){
            this.$store.dispatch('Orders')
            .then(res=>{
                console.log(res.data)
            })
            .catch(error=>{

            })
            .then(res=>{
                
            })
        }
    },
  }
</script>