<template>
  <div class="page-container">
    <md-app>
        <md-app-toolbar class="md-primary" md-elevation="0">
                <md-button class="md-icon-button" @click="navbar = !navbar" v-if="this.$store.state.token"><md-icon>menu</md-icon></md-button>
                <router-link :to="{name:'home-page'}" class="md-title" style="flex: 1">Biller</router-link>
                <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
        </md-app-toolbar>
      <md-app-drawer md-persistent="mini"  :md-active.sync="navbar" v-if="this.$store.state.token">
        <md-toolbar class="md-transparent" md-elevation="0">
          Navigation
        </md-toolbar>
        <md-list>
          <router-link :to="{name:'dashboard'}" tag="md-list-item"><md-icon>dashboard</md-icon><span class="md-list-item-text">Dashboard</span></router-link>
          <router-link :to="{name:'products'}" tag="md-list-item"><md-icon>widgets</md-icon><span class="md-list-item-text">Products</span></router-link>
          <router-link :to="{name:'orders'}" tag="md-list-item"><md-icon>apps</md-icon><span class="md-list-item-text">Orders</span></router-link>

          <md-list-item>
            <md-icon>send</md-icon>
            <span class="md-list-item-text">Sent Mail</span>
          </md-list-item>

          <md-list-item>
            <md-icon>delete</md-icon>
            <span class="md-list-item-text">Trash</span>
          </md-list-item>

          <md-list-item>
            <md-icon>error</md-icon>
            <span class="md-list-item-text">Spam</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
            <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>
<script>
export default {
 data: () => ({
      navbar:true,
      SearchResultSelected: null,
      SearchResults: [
        'Jim Halpert',
      ]
    })   
}
</script>
<style lang="scss" scoped>
  .md-app {
    height: 100vh;
  }
  .md-drawer {
    width: 230px;
  }
</style>
